@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.rdp-root {
  --rdp-accent-color: indigo;
  --rdp-accent-background-color: #f0f0f0; 
  --rdp-range_start-date-background-color: #d32c2c;
  --rdp-range_middle-background-color: #d32c2c84; 
  --rdp-range_end-date-background-color: #d32c2c;
}